
<body style="margin-left:250px ;">
  <body >
    <!-- main -->
    <div class="main-w3layouts wrapper">
      <h1>Trainee Admission Form</h1>
      <div class="main-agileinfo"  style="grid-auto-columns: auto;">
        <div class="agileits-top">
          <form [formGroup]="addForm" (ngSubmit)="update()" >
            <!-- <input  class="text3" type="text" name="Trainee_id" placeholder="Trainee Id" formControlName="id" required="" [(ngModel)]="post.id
            "> -->
  
            <input class="text" type="text" name="Name" placeholder="Name" formControlName="name" required="">
  
            <input class="text3" type="text" name="FatherName" placeholder="Father's Name" formControlName="fathername" required="">
  
            <input class="text" type="text" name="MotherName" placeholder="Mother's Name" formControlName="mothername" required="" >
  
            <div>
              <input class="date" type="text" onfocus="(this.type='date')" placeholder="Date Of Birth"  formControlName="dob"required="">
            </div>
  
            
            <input class="text1" type="text" name="Passport" placeholder="Passport" formControlName="passport" required="" >
  
            <input class="text2" type="text" name="NID" placeholder="NID" formControlName="nid" required="">
             
            <input class="text email" type="email" name="email" placeholder="Email" formControlName="email" required="" >
            <input class="text1" type="text" name="Trainingname" placeholder="Training Name" formControlName="training" required="">
            <input class="text2" type="text" name="Companyname" placeholder="Company Name" formControlName="company" required="">
            <input class="text2" type="text" name="CountryName" placeholder="Country Name" formControlName="country" required="">

            <div>
              <button  class="button1" value="update">update</button>
            </div>
          </form>
          </div>
        </div>
      </div>

</body>