<body class="carousel-bg">
    <!-- Quote Image -->
    <div>
      <img src="https://i.imgur.com/gZ5HY0U.png" class="img-responsive quote-image">
    </div>
    <!-- Carousel Start below -->
    <div id="carousel1" class="carousel slide testimonial-style" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel1" data-slide-to="1"></li>
        <li data-target="#carousel1" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="carousel-caption testimonial-caption-style">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.</p>
            <p class="testimonial-authors">Person 1</p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption testimonial-caption-style">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.</p>
            <p class="testimonial-authors">Person 2</p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption testimonial-caption-style">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.</p>
            <p class="testimonial-authors">Person 3</p>
          </div>
        </div>
      </div>
  
      <!-- Controls -->
  
      <a class="left carousel-control" href="#carousel1" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
      <a class="right carousel-control" href="#carousel1" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>
  </body>
