* {
    margin: 0;
    padding: 0;
  }
  body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
  }
  
  
  h1 {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgb(0, 255, 255), rgb(128, 0, 128), rgb(0, 255, 217));
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }