<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
            
                <div class="col-md-4">
                    <div class="profile-img" >
                        <img style="border-radius: 50%;" src="https://pbs.twimg.com/profile_images/1303351716272771072/d9YFaNjJ_400x400.jpg" alt=""/>

                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Card Number</th>
                            <th>Expiry Date</th>
                            <th>CCV </th>
                            <th>City </th>
                            <th>Zipcode </th>
                   
                          </tr>
                    </thead>
                    <tbody>
                          <tr *ngFor="let payment of payment">
                            <td>{{ payment.id }}</td>
                            <td>{{ payment.name }}</td>
                            <td>{{ payment.number }}</td>
                            <td>{{ payment.expiry }}</td>
                            <td>{{ payment.cvc }}</td>
                            <td>{{ payment.city }}</td>
                            <td>{{ payment.zipcode }}</td>
                         
                       
                          </tr>
                    </tbody>
                </table>
               
</body>
</html>
