<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
 
    <div class="background-one">
        <div class="link-container">
          <a class="link-one" routerLink="../govt">Govt Training</a>
          <div>

          </div>

          <h2 style="color:antiquewhite">Plumbing</h2>
          <h2 style="color:antiquewhite">Construction</h2>
          <h2 style="color:antiquewhite">Mechanical</h2>
          <h2 style="color:antiquewhite">Marine</h2>

        </div>
      </div>
      <div class="background-two link-container">
        <a class="link-two" routerLink="../corporate">Corporate Training</a>
        <h2 style="color:antiquewhite">Quality Control</h2>
        <h2 style="color:antiquewhite">Welding</h2>
        <h2 style="color:antiquewhite">It Technical</h2>
        <h2 style="color:antiquewhite">Rod Binding and Scoffing</h2>
        
      </div>
      <div class="background-three link-container">
        <a class="link-three" routerLink="../foreign">Foreign Training</a>
        <h2 style="color:antiquewhite">Port and Water Transport</h2>
        <h2 style="color:antiquewhite">Agricultural, Animal Husbandry, Fisheries, Livestock, Horticulture</h2>
       
      </div>
  
</body>
</html>
