<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="app">
        <aside class="sidebar">
               <header >
                <i class="fa fa-home" aria-hidden="true"></i>
            Admin Dashboard
            
            </header>
          <nav class="sidebar-nav">
       
            <ul>
              <li>
                <a ><i class="ion-ios-settings"></i> <span class="">Admission</span></a>
                <ul class="nav-flyout">
                  <li>
                    <a routerLink="/admin/aadmission"><i class="ion-ios-camera-outline"></i>Admission View</a>
                  </li>
                  <li>
                    <a routerLink="/admin/aaadmission"><i class="ion-ios-chatboxes-outline"></i>Admission Edit</a>
                  </li>
                </ul>
              </li>
              <li>
                <a ><i class="ion-ios-settings"></i> <span class="">Recruitment</span></a>
                <ul class="nav-flyout">
                  <li>
                    <a routerLink="/admin/rheadhunting"><i class="ion-ios-camera-outline"></i>Headhunting</a>
                  </li>
                  <li>
                    <a routerLink="/admin/rplacement"><i class="ion-ios-chatboxes-outline"></i>Placement</a>
                  </li>
                  <li>
                    <a routerLink="/admin/rworkpermit"><i class="ion-ios-cog-outline"></i>Work Permit</a>
                  </li>
                </ul>
              </li>
              <li>
                <a ><i class="ion-ios-briefcase-outline"></i> <span class="">Payment Info</span></a>
               
              </li>
              <li>
                <a ><i class="ion-ios-analytics-outline"></i> <span class="">Verification</span></a>
                <ul class="nav-flyout">
                  <li>
                    <a routerLink="/admin/adverification"><i class="ion-ios-timer-outline"></i>Verification Application</a>
                  </li>
                  <li>
                    <a><i class="ion-arrow-graph-down-left"></i>Verification Update</a>
                  </li>
                  <li>
                    <a><i class="ion-ios-partlysunny-outline"></i>Payment</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="ion-ios-paper-outline"></i> <span class="">Departments</span></a>
                <ul class="nav-flyout">
                  <li>
                    <a href="#"><i class="ion-ios-filing-outline"></i>File Cab</a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-ios-information-outline"></i>Infos</a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-ios-paperplane-outline"></i>Planes</a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-android-star-outline"></i>Shop</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="ion-ios-navigate-outline"></i> <span class="">Remittance</span></a>
                <ul class="nav-flyout">
                  <li>
                    <a href="#"><i class="ion-ios-flame-outline"></i>Burn</a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-ios-lightbulb-outline"></i>Bulbs</a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-ios-location-outline"></i>Where You</a>
                  </li>
                  <li>
                    <a href="#"><i class="ion-ios-locked-outline"></i>On Lock</a>
                  </li>
                   <li>
                    <a href="#"><i class="ion-ios-navigate-outline"></i>Ghostface</a>
                  </li>
                </ul>
              </li>
            
            </ul>
          </nav>
        </aside>
        <div class="content-margin">
        <router-outlet></router-outlet>
        </div>
      </section>
      <div class='wrap'>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
</div>
View Haml Code


Resources
    
</body>
</html>
