<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
     <div class="all">
    
      <div class="lefter1">
         <div class="text"><h5>Selection Process </h5></div>
       </div>
      <div class="lefter">
        <div class="text"><h5>Services</h5> </div>
      </div>
      <div class="left">
        <div class="text"><h5>Headhunting</h5></div>
      </div>
      <div class="center">
        <div class="explainer"><span>Recuitment</span></div>
        <div class="text"><h5>Placement </h5></div>
        </div>
      <div class="right">
        <div class="text"><h5>Manpower Supply</h5></div>
      </div>
      <div class="righter">
        <div class="text"><h5>Work Permit</h5></div>
      </div>
      <div class="righter1">
         <div class="text"><h5>Joint Operation</h5></div>
       </div>
      </div>
      <div >
        
      </div>
      
</body>
</html>