<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="untitled">
    <div class="untitled__slides">
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>Communication</span> 
          <span>Department</span>
          <a class="button" routerLink="../home">Home</a>
        </div>
      </div>
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          
          <span>Human Resource</span> 
          <span>Department</span>
          <a class="button" routerLink="../home">Home</a>      
          </div>
      </div>
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>Information & Technology</span> 
          <span>Department</span>
          <a class="button" routerLink="../home">Home</a>      
          </div>
      </div>
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>Training</span> 
          <span>Department</span>
          <a class="button" routerLink="../home">Home</a>       
         </div>
      </div>
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>Planning & Developement </span> 
          <span>Department</span>
          <a class="button" routerLink="../home">Home</a>      
          </div>
      </div>
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>Psychology  </span> 
          <span>Department</span>
          <a class="button" routerLink="../home">Home</a>       
         </div>
      </div>
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>Health  </span> 
          <span>Department</span>
          <a class="button" routerLink="../home">Home</a>       
         </div>
      </div>
       <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>Legal Service  </span> 
          <span>Department</span>
          <a class="button" routerLink="../home">Home</a>      
          </div>
      </div>
     
    </div>
    <div class="untitled__shutters"></div>
  </div>
</body>
</html>